.box-parent {
  display: flex;
  flex-direction: row;
}

.box {
  width: 200px;
  height: 80px;
  background-color: #f2f2f2;
  border: 1px solid black;
}

.highlightedBox {
  /* animation: changeBg 0.4s; */
  background-color: #000fff;
  transition: background-color 500ms ease;
}
@keyframes changeBg {
  0% {
    background: #f2f2f2;
  }

  50% {
    top: 100px;
    left: 100px;
    background: #000fff;
  }

  100% {
    top: 0px;
    left: 0px;
    background: #f2f2f2;
  }
}

.correctBox {
  background: green;
}

.inCorrectBox {
  background: red;
}
.shake {
  animation: shake 0.2s infinite;
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(-8px);
  }
}
