.board {
  width: 24rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  border: 0.5rem solid #f6f6f6;
}

.row-even {
  display: flex;
  flex-direction: row;
}
.row-odd {
  display: flex;
  flex-direction: row-reverse;
}

.black-square {
  width: 3rem;
  height: 3rem;
  background-color: black;
}
.white-square {
  width: 3rem;
  height: 3rem;
  background-color: white;
}

.highlighted-square {
  background-color: red !important;
}
